p,
h2 {
    text-align: justify;
    margin: 10px;

}

#logo {
    max-width: 250px;
    margin-left: 100px;
}

#tit {
    display: flex;
    align-items: center;
    background-color: rgb(0, 110, 255);
}

#titulo {
    text-align: center;
    margin-left: 100px;
}

#container {
    display: inline-grid;
    grid-template-columns: 50% auto;
    grid-gap: 30px 100px;
}

.imagenes {
    width: 180px;
    float: left;
    margin: 20px;
}